body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #667eea, #764ba2);
}

.login-box {
    width: 300px;
    margin: 100px auto;
    padding: 30px;
    background: white;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

button {
    background: #667eea;
    color: white;
    border: none;
    padding: 10px;
    width: 20%;
    align-items: center;
    justify-content: center;
    display: block;
    margin: auto;
}